<div class="d-grid gap-2 d-md-block mb-3" style="text-align: center;margin: auto; width: 400px;">
    <div  id="formulario2" style="border: 2px solid rgba(0,0,0,0.06);border-radius: 10px; padding: 20px;">
        <form style="text-align: center;" th:action="@{/loginAfiliado}" method="post">
            <label for="cedula">Numero de Identificación</label>
            <input type="text" name="cedula" id="cedula" required class="form-control"/>

            <label for="contrasena">Contraseña</label>
            <input type="text" name="Contrasena" id="contrasena" required class="form-control"/>

            <div style="margin-top: 10px;">
                <input style="border-radius: 20px;" class="btn btn-primary" type="submit" name="login" id="loginAfiliado" value="Iniciar Sesión"/>
            </div>


        </form>
    </div>
</div>