<div class="d-grid gap-2 d-md-block mb-3" style="text-align: center;margin: auto; width: 400px;margin-top: 40px">
    <div  id="formulario1" style="border: 2px solid rgba(0,0,0,0.06);border-radius: 10px; padding: 20px;">
        <form style="text-align: center;">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="Email" required class="form-control"/>

            <label for="contrasena">Contraseña</label>
            <input type="text" name="Contrasena" id="contrasenaAdmin" required class="form-control"/>

            <div style="margin-top: 10px;">
                <input style="border-radius: 20px;" class="btn btn-primary" type="submit" name="login" id="loginAdmin" value="Iniciar Sesión"/>
            </div>


        </form>
    </div>
</div>
