<div style="position:absolute;
top: 55%;
left: 26%;
height:400px;
width:600px;
margin-top:-240px;text-align: center;
">
    <h1>Registro Medico</h1>
    <div class="d-grid gap-2 d-md-block mb-3" style="text-align: left;margin: auto; width: 400px;">

        <form [formGroup]="formularioRegistroMedico" (ngSubmit)="registroMedico($event)" style="text-align: center;border: 2px solid rgba(0,0,0,0.06);border-radius: 10px; padding: 20px;" method="post">

            <input formControlName="Nombre" type="text" placeholder="Nombre Completo" name="nombreCompleto" id="nombreCompleto" required
                   class="form-control"/>

            <input formControlName="NumeroIdentificacion" style="margin-top: 30px" type="text" placeholder="Numero de Identificación" name="cedula" id="cedula"
                   required
                   class="form-control"/>
                   <div *ngIf="numeroIdentificacionRegistroMedico!.errors && numeroIdentificacionRegistroMedico?.touched">
                    <p *ngIf="numeroIdentificacionRegistroMedico!.hasError('max')">
                        El número de identificación no puede ser mayor a 10 digitos
                    </p>
                  </div>

            <input formControlName="Telefono" style="margin-top: 30px" type="text" placeholder="Teléfono" name="telefono" id="telefono" required
                   class="form-control"/>
                   <div *ngIf="telefonoRegistroMedico!.errors && telefonoRegistroMedico?.touched">
                    <p *ngIf="telefonoRegistroMedico!.hasError('max')">
                        El número de telefono no puede ser mayor a 10 digitos
                    </p>
                  </div>

            <input formControlName="Email" style="margin-top: 30px" type="text" placeholder="Email" name="email" id="email" required
                   class="form-control"/>
                   <div *ngIf="emailRegistroMedico!.errors && emailRegistroMedico?.touched">
                    <p *ngIf="emailRegistroMedico!.hasError('email')">
                        Ingrese un email valido
                    </p>
                  </div>

            <input formControlName="Contrasena" style="margin-top: 30px" type="text" placeholder="Contraseña" name="Contrasena" id="contrasena" class="form-control"/>

            <div style="margin-top: 30px">
                <select formControlName="Especialidad" class="form-select" aria-label="Especialidad" id="especialidad" name="especialidad" required>
                    <option value="" disabled selected>Seleccione su especialidad</option>
                    <option >100567 - Optometria </option>
                    <option >100102 - Fisioterapia</option>
                    <option >100123 - Medico General </option>
                </select>
            </div>
            <div style="margin-top: 30px">
        <select formControlName="Jornada" class="form-select" aria-label="Jornada" id="jornada" name="jornada">
            <option value="" disabled selected>Selecione la jornada</option>
            <option >7am-1pm </option>
            <option >1pm-7pm</option>
            <option >7pm-1am</option>
            <option >1am-7am</option>
        </select>
    </div>
            <div style="margin-top: 30px;">
                <input style="border-radius: 20px;" class="btn btn-primary" type="submit" name="registro" id="registro"
                       value="Registrar"/>
            </div>
        </form>
    </div>
</div>
