<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Medico</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" >Citas</a>
                </li>
               
                
            </ul>
        </div>
    </div>
</nav>

<div style="position:absolute;
top: 75%;
left: 26%;
height:400px;
width:600px;
margin-top:-240px;text-align: center;
">

<header>
    <h1>Bienvenido Doctor Jaime Rodriguez</h1>
</header>

<section id="servicios">
    <h2>Servicos que ofrece</h2>
    <ul>
        <li>Consulta médica general</li>
        <li>Especialidades médicas</li>
    </ul>
</section>





<footer>
    <p>&copy; 2023 Clínica XYZ. Todos los derechos reservados.</p>
</footer>
</div>
