<div style="position:absolute;
top: 50%;
left: 25%;
height:400px;
width:600px;
margin-top:-200px;">
    <h1 style="text-align: center;"> Iniciar Sesión</h1>
    <h5 style="text-align: center;"> Afiliado</h5>
    <br/>

    <div class="d-grid gap-2 d-md-block mb-3" style="text-align: center;margin: auto; width: 400px;">
        <form style="text-align: center;border: 2px solid rgba(0,0,0,0.06);border-radius: 10px; padding: 20px;" th:action="@{/loginAfiliado}" method="post" >
            <label for="cedula">Numero de Identificación</label>
            <input type="text" name="cedula" id="cedula" required class="form-control"/>

            <label for="contrasena">Contraseña</label>
            <input type="text" name="Contrasena" id="contrasena" required class="form-control"/>

            <div style="margin-top: 30px">

                <a style="text-decoration: none;margin-right: 145px;" href="@{/}">¿Has olvidado tu contraseña?</a>

                <div style="position: absolute; top: 280px">
                <input style="border-radius: 20px;margin-left: 240px;" class="btn btn-primary" type="submit" name="login" id="loginAfiliado" value="Iniciar Sesión"/>
                </div>
            </div>


            <div style="margin-top: 35px;">
                <h5>¿Aún no tienes una cuenta?</h5>
                <a style="text-decoration: none;" href="RegistroPaciente.html" >Crear Cuenta</a>
            </div>



        </form>

    </div>
</div>
<router-outlet></router-outlet>

