<header>
  <link rel="stylesheet" href="app.component.css">  

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="Inicio">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">

            <a class="nav-link" routerLink="loginEmpleado">Login Empleado</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" routerLink="loginPaciente">Login Afiliados</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" routerLink="agendarCita">Agendar Cita</a>

          </li>

        </ul>

      </div>
    </div>
</nav>
</header>



<router-outlet></router-outlet>
