

<div style="position:absolute;
top: 45%;
left: 25%;
height:400px;
width:600px;
margin-top:-200px;">


    <h1 style="margin-top: 50px; text-align: center; margin-bottom: 30px">Iniciar Sesión</h1>
    <h6 style="margin-top: 20px; text-align: center; margin-bottom: 20px">Elija un rol</h6>
    <div style="text-align: center;margin: auto; width: 400px;">
        <input (click)="setTipoUsuario('administrador')" class="btn btn-light" type="submit" name="loginAdmin"
            id="mostrarFormulario1" value="Administrador" />
        <input (click)="setTipoUsuario('medico')" class="btn btn-light" type="submit" name="loginAdmin"
            id="mostrarFormulario2" value="Médico" />
    </div>

    <div class="d-grid gap-2 d-md-block mb-3" style="text-align: center;margin: auto; width: 400px;margin-top: 40px">
        <div id="formulario1" style="border: 2px solid rgba(0,0,0,0.06);border-radius: 10px; padding: 20px;">
            
            <span *ngIf="tipoUsr==='administrador'">

                <form [formGroup]="formularioAdmin" (ngSubmit)="loginAdmin($event)" style="text-align: center;">
                    <label>Email</label>
                    <input type="email" formControlName="Email" id="cedula" class="form-control" />
                    <div *ngIf="emailAdmin!.errors && emailAdmin?.touched">
                        <p *ngIf="emailAdmin!.hasError('email')">
                            Ingrese un email valido
                        </p>
                      </div>

                    <label>Contraseña</label>
                    <input type="password" formControlName="Contrasena" class="form-control" />

                    <div style="margin-top: 10px;">
                        <input style="border-radius: 20px;" class="btn btn-primary" type="submit" id="loginAdmin"
                         value="Iniciar Sesión" />
                    </div>


                </form>
            </span>
            <span *ngIf="tipoUsr==='medico'">
                <form  [formGroup]="formularioMedico" (ngSubmit)="loginMedico($event)" style="text-align: center;">
                    <label>Numero de Identificación</label>
                    <input type="number" formControlName="cedula" class="form-control"/>
                    <div *ngIf="cedulaMedico!.errors && cedulaMedico!.touched">
                        <p *ngIf="cedulaMedico!.hasError('max')">
                            Maximo son 10 digitos
                        </p>
                      </div>


                    <label>Contraseña</label>
                    <input  type="password" formControlName="Contrasena" class="form-control" />

                    <div style="margin-top: 10px;">
                        <input style="border-radius: 20px;" class="btn btn-primary" type="submit" id="loginMedico" value="Iniciar Sesión" />
                    </div>


                </form>
            </span>

        </div>
    </div>

</div>



    


