<div style="position:absolute; top: 50%; left: 15%; height:400px; width:600px; margin-top:-240px; "> 

    <div class="d-grid gap-2 d-md-block mb-3" style="text-align: center; width: 600px;">
<header>
    <div  id="top-div" style="display: flex;   justify-content: space-between;    align-items: center;    background-color: #3498db;    padding: 10px;    color: #fff;">
	    <p class="p" style="flex: 1; text-align: center;"class="pretty-text"> Asignacion de citas</p>
	    <button style="margin-right: 210px" class="pretty-text"> Cancelacion de citas</button>
    </div>
</header>

        <h1 style="margin-top: 40px; text-align: left; font-size: 30px">Solicitud de citas</h1>
	<form id="appointmentDate" >
		<select id="doctores" >
			<option value="Doctor 1 ">Doctor 1</option>
			<option value="Doctor 2 ">Doctor 2</option>
			<option value="Doctor 3 ">Doctor 3</option>
			<option value="Doctor 4 ">Doctor 4</option>
			<option value="Doctor 5 ">Doctor 5</option>
		</select>
		<div id="fecha_y_hora">
			<div id="calendario">

  <table>
            <caption>September 2023</caption>
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
		 </tbody>
        </table>
			</div>
			<div id="hora">
				<table>
					<thead>
					    <tr class="horas">
						<th>Hora</th>
					    </tr>
					</thead>
					<tbody>
					    <tr class="horas">
						<td>9:00 AM</td>
					    </tr>
					    <tr class="horas">
						<td>10:00 AM</td>
					    </tr>
					    <tr class="horas">
						<td>11:00 AM</td>
					    </tr>
					    <tr class="horas">
						<td>12:00 PM</td>
					    </tr>
					    <tr class="horas">
						<td>1:00 PM</td>
					    </tr>
					    <tr class="horas">
						<td>2:00 PM</td>
					    </tr>

					    <tr class="horas">
						<td>3:00 PM</td>
					    </tr>
					    <tr class="horas">
						<td>4:00 PM</td>
					    </tr>
					    <tr class="horas">
						<td>5:00 PM</td>
					    </tr>
					    <tr class="horas">
						<td>6:00 PM</td>
					    </tr>
					</tbody>
				    </table>
			</div>
		</div>

	</form>
    </div>
</div>
